<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomoe.iosanim"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="27" android:targetSdkVersion="33" />

    <application
        android:label="iOS Anim Curves"
        android:hasCode="true">

        <!-- classic Xposed markers -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="iOS easeOutQuint curves for framework animations" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>
</manifest>
